
<style>

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
}

.topnav .icon {
  display: none;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: white;
}

.dropdown-content a:hover {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
  }
}
</style>

<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container topnav" id="myTopnav">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Inicio</a>
    <a class="c-navigation__item {% if page.url == '/articulos/' %}is-active{% endif %}" href="{{ "/articulos/" | prepend: site.baseurl }}">Articulos</a>
    <a class="c-navigation__item {% if page.url == '/contacto/' %}is-active{% endif %}" href="{{ "/contacto/" | prepend: site.baseurl }}">Contacto</a>
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <a class="c-navigation__item search" href="{{ "/search/" | prepend: site.baseurl }}"><i class="material-icons">search</i></a>
    <a href="javascript:void(0);myFunction();" style="font-size:15px;" class="c-navigation__item icon" role="button" onclick="myFunction()"><i class="material-icons">menu</i></a>
  </div>
</nav>


<div style="padding-left:16px">
  <h2>Responsive Topnav with Dropdown</h2>
  <p>Resize the browser window to see how it works.</p>
  <p>Hover over the dropdown button to open the dropdown menu.</p>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
